[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    build,
    dist
ignore = 
    E203,  # whitespace before ':' (black compatibility)
    W503,  # line break before binary operator
    F821   # undefined name